@font-face {
    font-family: 'Grinched';
    src: url('../fonts/grinched.otf') format('opentype');
 
}
@font-face {

    font-family: 'Creato';
    src: url('../fonts/creato.otf') format('opentype');

}
:root{
    --cabecera: #1B2631;
    --background: #F8C471;
    --colorfuente:#212F3C;
    --colorlogo:  #E67E22 ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Creato', cursive;
    font-size: 20px;
    color: var(--colorfuente);
    background-color: var(--background);
   
}

h2{
    text-align: center;
    padding: 20px 0;
}

/*  HEADER **************************************/
.cabecera{
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center;
    background-color: var(--cabecera) ;
}

.mainMenu{
    display: flex;
    align-items: center;
}
.mainMenu .nav-links li a{
    text-decoration: none;
    padding: 20px;
    color: var(--background);
}
.mainMenu .nav-links li:hover{
    transform: scale(1.2);
    transition: 0.3s; 
}
.mainMenu .nav-links li a:hover{
    color: white;
    text-shadow: 2px 2px 4px #F8C471; 
}
.logo{
   
    font-family: 'Grinched', sans-serif;
    letter-spacing: 3px;
    font-size: 40px; 
    color: var(--colorlogo);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.cabecera .mainMenu .btn-mainMenu{
    
    font-size: 40px;  
    cursor: pointer; 
    color: var(--background); 
    background-color: transparent; 
    border: none; 
    padding: 0 15px; 
    display: none; 
}
.cabecera .mainMenu .btn-mainMenu:hover{
    color: var(--colorlogo);
    transform: scale(1.3);
    transition: 0.3s;
}
.cabecera .mainMenu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
/*  FIN HEADER  *************************************/


/*  CUERPO PÁGINA  *************************************/

.cuerpo {
    display: grid;
    grid-template-areas: 
    "noticias" 
    "animes" 
    "comunidad";
}




/*  FIN CUERPO PÁGINA  *************************************/




/*  FOOTER  **********************************************/
footer{
    margin-top: 20px;
    padding: 30px;
    background-color: #212F3C;
    color: white;

}

/* HEADER RESPONSIVE  **********************************************/

@media screen and (max-width: 768px) {

    body {
        margin-bottom: 60px; /*esto evitará que el footer quede oculto al
        poner la cabecera en la parte inferior de la pantalla, por eso
        utilizamos 60px, porque es la medida de nuestra cabecera para
        pantalla tamaño móvil*/
    }
    .cabecera{
        position: fixed;
        bottom: 0;
        height: 60px; /*reducimos un poco el alto de la cabecera*/
        justify-content: space-between;
        padding: 0 30px; /* para evitar que ambos elementos, logo y menú,
        queden muy pegados a los lados, añadimos algo de espacio a 
        los lados*/
        width: 100%;
    }
    .cabecera .logo{
        font-size: 30px; /*cambiamos el tamaño de fuente*/
    }
    .cabecera .mainMenu .nav-links{
        display: flex; /*añadimos flexbox dentro de nuestro menú, para manerar los items*/
        flex-direction: column; /*alineamos el menú de manera vertical*/
        background-color: var(--cabecera);
        position: fixed; /*damos position fixed para que la posición no dependa 
        de donde se encuentra en el html sino de la ventana y las indicaciones 
        que le demos*/
        bottom: 60px; /*damos la medida de la cabecera para que comience
        cuando la cabecera termine*/
        width: 100%; /*Llenamos el ancho de la página*/
        align-items: center; /*centramos los elementos del menú*/
        padding: 20px 0; /*introducimos espacio  arriba y abajo
        para no dejar el menú muy pegado a la cabecera, recordar
        que pongo dos valores porque sólo quiero el espacio arriba y 
        abajo, no a los lados*/
        left: 0%;  /*situamos el menú a la izquierda*/
        bottom: 60px; /*ponemos el margen inferior 
        a 60px, que es lo que ocupa el height de la 
        cabecera en modo pantalla móvil.*/
        z-index: -1; /*ponemos un z-index negativo, para que 
        el menú se sitúe detrás de la cabecera y no por encima*/
        visibility: hidden;
    } 
    .cabecera .mainMenu .nav-links li{
        line-height: 40px; /*incluimos un poco de espacio entre las
        opciones del menú*/
    }
    .cabecera .mainMenu .btn-mainMenu{
  
        display: block;  /*mostramos el caracter de menu*/
    }
    .cabecera .mainMenu .nav-links--visible{  
        visibility: visible;
    }
}
/* FIN HEADER RESPONSIVE  **********************************************/
